- offerCategory= category

a(href='#' class=`category-tile ${page === `index` ? `category-tile--default` : ``} ${page === `ticket` ? `category-tile--small` : ``} ${activeCategory && activeCategory === category ? `category-tile--active` : ``}`)
  span.category-tile__image
    img(src=offerCategory.picture srcset=offerCategory.srcset alt='Иконка категории')
  span.category-tile__label= `${offerCategory.title} `
    if page === `category` || page === `index`
      span.category-tile__qty.js-qty= ` ${offerCategory.count}`
