a(
  href=`/offers/category/${category.id}`
  class=`category-tile ${page === `index` ? `category-tile--default` : ``}
  ${page === `ticket` ? `category-tile--small` : ``}
  ${activeCategory && activeCategory.id === category.id ? `category-tile--active` : ``}`
)
  span.category-tile__image
    img(
      src= category.picture
      srcset= category.pictureSrcset
      alt='Иконка категории'
    )
  span.category-tile__label= `${category.title} `
    if page === `category` || page === `index`
      span.category-tile__qty.js-qty= ` ${category.count}`
