if appUser
  h2.ticket__subtitle Коментарии
  .ticket__comment-form
    form.form.comment-form(
      name='comment'
      action=`#`
      method='post'
      data-offer= offer.id
    )
      .comment-form__header
        a.comment-form__avatar.avatar
          img(
            src= appUser.avatar
            srcset= appUser.avatarSrcset
            alt= `Аватар ${appUser.name}`
          )
        p.comment-form__author Вам слово
      .comment-form__field
        .form__field
          textarea#comment-field.js-field(
            name='comment'
            cols='30'
            rows='10'
            maxlength='400'
            minlength='50'
          )= notAddedComment ? notAddedComment : ``
          label(for='comment-field') Текст комментария
          span Обязательное поле
      button.comment-form__button.btn.btn--white.js-button(type='submit' disabled) Отправить
else
  .ticket__warning
    p
      | Отправка комментариев доступна
      br
      | только для зарегистрированных пользователей.
    a.btn.btn--big(href='/register') Вход и регистрация
  h2.ticket__subtitle Коментарии





