-
  const offerDate = new Date(offer.createdAt);
  const months = [`января`, `февраля`, `марта`, `апреля`, `мая`, `июня`, `июля`, `августа`, `сентября`, `октября`, `ноября`, `декабря`]
  const formatOfferDate = ` ${offerDate.getDate()} ${months[offerDate.getMonth()]} ${offerDate.getFullYear()}`;
.ticket__content
  if offer.picture
    .ticket__img
      img(
        src= offer.picture
        srcset= offer.pictureSrcset
        alt= offer.title
      )
  else
    .ticket__img
  .ticket__info
    h2.ticket__title= offer.title
    .ticket__header
      p.ticket__price
        span.js-sum= offer.sum
        |  ₽
      p.ticket__action= offer.type === `sale` ? `Продам` : `Куплю`
    .ticket__desc
      p= offer.description
    .ticket__data
      p
        b Дата добавления:
        span= formatOfferDate
      p
        b Автор:
        a= ` ${offer.user.name}`
      p
        b Контакты:
        a(
          href= `mailto:${offer.user.email}`
        )= ` ${offer.user.email}`
    ul.ticket__tags
      each category in categories
        li
          include category-tile
