- cardOffer= offer
div(class=`ticket-card ticket-card--color${cardOffer.id}`)
  .ticket-card__img
    img(src= offer.picture srcset= cardOffer.pictureSrcset alt='Изображение товара')
  .ticket-card__info
    span.ticket-card__label= offer.type === `sale` ? `ПРОДАМ` : `КУПЛЮ`
    .ticket-card__categories
      a(href='#')= cardOffer.category.slice().toUpperCase()
    .ticket-card__header
      h3.ticket-card__title
        a(href='#')= cardOffer.title
      p.ticket-card__price
        span.js-sum= cardOffer.sum
        |  ₽
    .ticket-card__desc
      p= cardOffer.description
  if (page === `my`) {
    button.ticket-card__del.js-delete(type='button') Удалить
  }
