ul
  each offer, i in offers
    li.tickets-list__item
      div(class=`ticket-card ticket-card--color${offer.id}`)
        .ticket-card__img
          img(src= offer.picture srcset= offer.pictureSrcset alt='Изображение товара')
        .ticket-card__info
          span.ticket-card__label= offer.type === `sale` ? `ПРОДАМ` : `КУПЛЮ`
          .ticket-card__categories
            a(href='#')= offer.category.slice().toUpperCase()
          .ticket-card__header
            h3.ticket-card__title
              a(href='#')= offer.title
            p.ticket-card__price
              span.js-sum= offer.sum
              |  ₽
          .ticket-card__desc
            p= offer.description
        if (page === `my`) {
          button.ticket-card__del.js-delete(type='button') Удалить
        }
